# Node modules
node_modules/

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.*.local

# Docker files
Dockerfile*
docker-compose*

# Misc
*.swp
*.swo
.idea/
.vscode/
*.tgz
coverage/
__pycache__/
*.pyc
*.pyo
*.pyd